.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.image-modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  padding: 20px; /* Isso evita que a imagem grude na borda da tela */
  box-sizing: border-box;
}

.image-modal-close {
  position: absolute;
  top: -40px;
  right: -10px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.image-modal-title {
  margin-top: 12px;
  align-self: flex-start;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
