.page{
width: 1280px;
height: 1217px;
background: #000000;

}

.page-logo{
    display: flex;
    padding-top: 45px;
    margin: 45px 200px 40px;
}

.author{
display: flex;
width: 880px;
height: 120px;
margin: auto;
margin-top: 40px;

}


.author-image{
width: 120px;
height: 120px;
}

.author-info{
    display: flex;
    flex-direction: column;
    padding-left: 30px; 
}

.author-name{
width: 373px;
height: 39px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
color: #FFFFFF;
margin: 0;
}

.author-subtitle{
color: #FFFFFF;
font-family: 'Inter';
font-weight: 400;
font-size: 18px;
line-height: 100%;

}

.author-edit{
background-image: url("../images/Edit\ Button.png");
background-color: #000000;
width: 24px;
height: 24px;
border-width: 1px;

}

.author-edit:hover{
    cursor: pointer;
}

.author-add{
background-image: url("../images/Add\ Button.png");
background-color: #000000;
width: 150px;
height: 50px;
margin-left: auto;


}

.author-add:hover{
    cursor: pointer;
}

.elements{
width: 880px;
height: 743px;
border: 1.5px solid #000000;
margin: auto;
margin-top: 50px;
display: grid;
grid-template-columns: repeat(3, 200px);
grid-template-rows: repeat(2, 150px);
row-gap: 225px;
column-gap: 95px;

}

.element{
width: 282px;
height: 361px;
background-color: #FFFFFF;
border-radius: 10px 10px 10px 10px;
}

.element-image{
width: 282px;
height: 282px;

}

.element-image-title{
display: flex;
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
margin: 25px 15px 31px 21px;
}

.element-image-like{
background-image: url("../images/Group.png");
background-color: #FFFFFF;
background-repeat: no-repeat;
border: none;
width: 21px;
height: 19px;
margin-left: auto;
}

.element-image-like:hover{
    cursor: pointer;
}

.footer{
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #545454;
margin-left: 200px ;
margin-top: 67px;
}